@import '~bootstrap/scss/bootstrap';

$primary-color: $primary;
$primary-subtle-color: $primary-bg-subtle;
$danger-color: $danger;
$danger-subtle-color: $danger-bg-subtle;
$white-color: white;

.app-body{
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.page-body{
    height: 100%;
}

.logo-right {
    color: $white-color;
}

.logo-left {
    color: black;
}

.logo {
    margin-left: 10px;
    cursor: pointer;
    font-size: 24pt;
    padding: 2px 16px;

    span {
        font-weight: bolder;
        letter-spacing: 2px;
    }
}

.dropdown-icon {
    font-size: 20pt;
    color: $white-color;
    margin-right: 8px;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-offset .dropdown-menu {
    margin-left: -110px;
}

.dropdown-item{
    font-weight: 500;
}

.dropdown-item-primary-bg:active{
    background-color: $primary-subtle-color;
}
.dropdown-item-danger-bg:active{
    background-color: $danger-subtle-color;
}

.on-hover-primary:hover {
    color: $primary-color;
    transition: color 0.3s ease;
}
.on-hover-danger:hover {
    color: $danger-color;
    transition: color 0.3s ease;
}

.toolbar{
    height: 70px;
}


.autocomplete {
    position: absolute;
    background-color: $white-color;
    border: 1px solid #ccc;
    border-top: none;
    width: 37.25%;
    z-index: 1000;
}

.autocomplete p {
    padding: 8px 10px;
    margin: 0;
    cursor: pointer;
}

.autocomplete p:hover {
    background-color: #f9f9f9;
}

.genre-button {
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 98%;
    display: flex;
    align-items: center;
}

.genre-button-black-text {
    color: black;

    &:hover{
        color: $primary-color;
    }
}

.genre-button-white-text{
    color: $white-color;
}